body{
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(154, 121, 197, 0.918);
    text-align: center;
}

#alist{
    color:azure;
    padding: 20px;
    list-style-type:none;
    margin: armenian;
    text-align: center;
    ;
}

#flex{
    display: grid;
}

#header{
    font-style: italic;
    color: black;
}

#para{
    color: rgb(0, 128, 58);
}